.list-item-form {
	background-color: #fff;
	padding: 10px;
	display: flex;
	flex-direction: column;
	.list-item-form-input {
		display: block;
		padding: 5px;
		height: 40px;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		&:placeholder-shown {
			font-size: 21px;
		}
	}
	.form-buttons {
		display: block;
		width: 100%;
		margin: 10px 0 0;
		.form-button {
			display: inline-block;
			width: 100%;
			height: 40px;
			background-color: #3c8dbd;
			transition: background-color .2s ease;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 21px;
			border: 0;
			&:hover {
				background-color: #77bde6;
			}
		}
	}
}
