.list-item {
	padding: 10px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border: 2px solid #efefef;
	margin-bottom: 10px;
	transition: background-color .2s ease-in-out;
	animation: fadeIn 1s 1;
	&:last-child {
		margin-bottom: 0;
	}
	&.finished {
		background-color: #b3e8c5;
		border: 2px solid #00b33c;
		opacity: .3;
		.list-item-description {
			color: #000;
			text-decoration: line-through;
		}
	}

	.list-item-description {
		font-size: 24px;
		display: flex;
		align-items: center;
		margin: 0 10px 0 0;
		width: 100%;
		max-width: calc(100% - 90px);
		overflow-wrap: break-word;
		word-break: break-word;
	}

	.list-item-action {
		width: 90px;
		display: flex;
		align-items: center;
		columns: 2;
		column-gap: 10px;
		.btn {
			width: 40px;
			height: 40px;
			color: #fff;
			font-size: 20px;
			transition: font-size .2s ease;
			border: 0;
			box-shadow: 0px 0px 4px 0px #000;
			cursor: pointer;
			&:hover {
				font-size: 28px;
			}
		}
		.btn-remove {
			@extend .btn;
			background-color: #ff0000;
		}
		.btn-finish {
			@extend .btn;
			background-color: #00b33c;
		}
	}
}

@keyframes fadeIn {
	0% {

		transition: opacity ease-in .2s;
		opacity: 0;
	}
	50% {
		transition: opacity ease-in .2s;
		opacity: .5;
	}
	100% {
		transition: opacity ease-in .2s;
		opacity: 1;
	}

}