* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

